.empty-cart{
    height: 89vh;   
}
.remove{
    border: none;
    background-color: white;
}
.cart{
    min-height: 84vh;
}
input{
    width: 40px;
}
h1{
    font-weight: 500;
    font-size: 35px!important;
}


@media (max-width: 992px){
    .empty-cart{
        height: 92vh;
    }
}

@media (max-width: 576px){
    h1{
        font-size: 25px!important;
    }
}

