<div class="sidebar-nav d-flex flex-column g-5 justify-content-center gap-4">
  <a href="https://www.facebook.com"><fa-icon [icon]="faFacebookF" class="icon fb"></fa-icon></a>
  <a href="http://www.twitter.com"><fa-icon [icon]="faTwitter" class="icon tw"></fa-icon></a>
  <a href="http://www.pinterest.com"><fa-icon [icon]="faPinterestP" class="icon p"></fa-icon></a>
  <a href="http://www.youtube.com"><fa-icon [icon]="faYoutube" class="icon yt"></fa-icon></a>
  <a href="http://www.instagram.com"><fa-icon [icon]="faInstagram" class="icon in"></fa-icon></a>
</div>
